.container {
	align-content: center;
}

canvas {
	min-width: 300px;
	min-height: 500px;
	padding: 5px 10px;
	margin: 10px;
	border: 2px solid #ccc;
    border-radius: 5px;
	position: relative;
}

.score {
	padding: 5px 10px;
	background-color: #ccc;
	border-radius: 5px;
	font-weight: bold;
}

.score span {
	font-weight: normal;
}

#game-over-screen {
	visibility: hidden;
	float: left;
}