.container {
	align-content: center;
}

canvas {
	padding: 5px 10px;
	margin: 10px;
	border: 2px solid #ccc;
    border-radius: 5px;
	position: relative;
}

.score {
	position: absolute;
	display: inline-block;
	background-color: #ccc;
	color: black;
	padding: 5px 10px;
	margin: 10px;
}
